version: "3.9"
services:
  db:
    image: postgres:15-alpine
    container_name: civic-db
    environment:
      POSTGRES_DB: signalos
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - civic-db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d signalos"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build:
      context: ../apps/api-java
      dockerfile: Dockerfile
    container_name: civic-api
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/signalos
      - SPRING_DATASOURCE_USERNAME=admin
      - SPRING_DATASOURCE_PASSWORD=password
    ports:
      - "8081:8080"
    depends_on:
      db:
        condition: service_healthy

  web:
    build:
      context: ../apps/web-react
      dockerfile: Dockerfile
    container_name: civic-web
    ports:
      - "3002:3002"
    depends_on:
      - api

volumes:
  civic-db-data:
